footer {
    padding-top: 79px;
    padding-bottom: 40px;
    background-color: #fff;
}

footer .inner {
    display: flex;
    flex-wrap: nowrap;
}

#text-footer {
    margin: 0;
    color: #000;
    font-size: 1.75rem;
    line-height: 0.8;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#img-footer {
    display: flex;
    margin-right: 20px;
}

#img-vk-footer, #img-yt-footer {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    background-color: #f10018;
    background-repeat: no-repeat;
    background-position: center;
}

#img-footer a {
    width: 100%;
    height: 100%;
}

#img-vk-footer {
    background-image: url('../svg/vk.svg');
    background-color: #4d76a1;
    margin-right: 15px;
}

#img-yt-footer {
    background-image: url('../svg/yt.svg');
}

#hashtag-footer {
    display: flex;
    align-items: center;
}

#hashtag-footer a {
    color: #f10018;
    font-family: Helvetica;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
}