#slider-block {
    margin-top: 20px;
}

#slider-photo {
    width: 100%;
    height: 550px;
    position: relative;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#block-img {
    width: 100%;
    height: 100%;
    background-color: #203446;
}

.img-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    opacity: 0;
    transition: opacity 0.5s linear;
}

.active-img-slide {
    opacity: 1;
}

#block-info {
    width: 516px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.info-item {
    position: absolute;
    top: 0;
    left: 0;

    padding-left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;


    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.3s linear;
}

.active-info-item {
    visibility: visible;
    opacity: 1;
}

.title-slider-img {
    font-size: 30px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.desc-slider-img {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
    margin: 26px 0;
    line-height: 1.625;
}

.main-top__slider-button {
    margin-top: 25px;
    display: flex;
    text-decoration: none !important;
    outline: none;
    border: 0;
    background-color: #E12635;
    white-space: nowrap;
    height: 38px;
    align-items: center;
    padding: 0 22px 0 16px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    transition: 0.2s ease-in;
    font-size: 13px;
    color: #fff;
    line-height: 1;
}

.main-top__slider-button:hover {
    background-color: #D20C1C;
    transition: 0.2s ease-in-out;
}

.main-top__slider-button svg {
    margin-left: 33px;
}

#block-tubs {
    padding-left: 50px;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    border-top: 1px rgba(255, 255, 255, 0.29) solid;
    display: flex;
}

.tubs-item {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    border-top: 0px transparent solid;
    transition: border 0.5s;
}

.active-tubs-item {
    border-top: 1px #fff solid;
}

#category-img-block {
    margin-top: 50px;
}

#category-img {
    width: 100%;
    height: 420px;
    display: flex;
    flex-wrap: nowrap;
}

.category-img-item {
    width: 25%;
    height: 100%;
}

.category-img-item a {
    width: 100%;
    height: 100%;
    position: relative;
}

.category-img-div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.block-category-img-text {
    width: 85%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.category-img-text {
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 3px 9px;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    display: inline;
    background: #e12634;

    font-size: 24px;
    padding: 4px 12px;
    line-height: 1.33;
    color: #fff;
}

#project-block {
    height: 306px;
    margin: 69px 0 0px;
    background-color: #203446;
}

#project-block .inner {
    position: relative;
}

.text-project-block {
    height: 306px;
    display: flex;
    flex-direction: column;
    max-width: 25.463%;
    justify-content: center;
}

.title-project-block {
    padding: 0.68em 0 0.4em;
    color: #fff;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.12;
}

.button-project-block {
    display: flex;
    flex-wrap: nowrap;
}

.button-project-block div {
    display: inline-block;
    padding: 0;
    width: 24px;
    height: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#button-project-left {
    background: url('../svg/swipe-left.svg') no-repeat center;
    margin: 0 28px 0 0;
}

#button-project-right {
    background: url('../svg/swipe-right.svg') no-repeat center;
}

.photos-project-block {
    width: 74.537%;
    height: 384px;
    position: absolute;
    right: 0;
    top: -39px;
    background-color: #000;
    -webkit-box-shadow: 9px 22px 42px rgba(0, 4, 2, 0.1);
    box-shadow: 9px 22px 42px rgba(0, 4, 2, 0.1);
}

.project-hidden-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#sliders-photos-project-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 0.5s;
}

.item-slider-photos-project {
    width: 240.5px;
    height: 192px;
    background-position: center;
    background-repeat: no-repeat;
}