#search-block-search {
    margin-top: 46px;
    margin-bottom: 32px;
}

#search-block-search .inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#product-list-block {
    margin-top: 0;
}

#searchFormStr {
    position: relative;
}

#searchStr {
    font-size: 16px;
    border: 1px solid #e9e6e7;
    padding: 0.75rem 2rem 0.75rem 1rem;
    width: 710px;
}